<h1>ResponsiveImage for Ember</h1>

<h2>Netlify</h2>

<ResponsiveImage
  @src={{responsive-image-netlify
    "aurora-original.jpg"
    aspectRatio=1.4971927636
  }}
  data-test-netlify-image
/>

<h2>Cloudinary</h2>

<ResponsiveImage
  @src={{responsive-image-cloudinary
    "aurora-original_w0sk6h"
    aspectRatio=1.4971927636
  }}
  data-test-cloudinary-image
/>

<h2>imgix</h2>

<ResponsiveImage
  @src={{responsive-image-imgix "aurora-original.jpg" aspectRatio=1.4971927636}}
  data-test-imgix-image
/>

<h2>Local</h2>

<ResponsiveImage @src={{this.image}} data-test-local-image="responsive" />
<ResponsiveImage
  @src={{this.image}}
  @width={{320}}
  data-test-local-image="fixed"
/>
<ResponsiveImage
  @src={{this.imageLqipColor}}
  @width={{320}}
  data-test-local-image="fixed,lqip-color"
/>
<ResponsiveImage
  @src={{this.imageLqipInline}}
  @width={{320}}
  data-test-local-image="fixed,lqip-inline"
/>
<ResponsiveImage
  @src={{this.imageLqipBlurhash}}
  @width={{320}}
  data-test-local-image="fixed,lqip-blurhash"
/>
<ResponsiveImage
  @src={{this.imageGray}}
  @width={{320}}
  data-test-local-image="fixed,grayscale"
/>
<ResponsiveImage
  @src={{this.imagePortrait}}
  @width={{320}}
  data-test-local-image="fixed,aspect"
/>