<h1>Ember Responsive Image</h1>

<h2>Local</h2>

<ResponsiveImage @src={{this.dogImage}} />
<ResponsiveImage @src={{this.dogImage}} @width={{320}} />
<ResponsiveImage @src={{this.dogImageLqipColor}} @width={{320}} />
<ResponsiveImage @src={{this.dogImageLqipInline}} @width={{320}} />
<ResponsiveImage @src={{this.dogImageLqipBlurhash}} @width={{320}} />