<h1>ResponsiveImage for Ember</h1>

<h2>Cloudinary</h2>

<ResponsiveImage
  @src={{responsive-image-cloudinary-provider "samples/animals/three-dogs"}}
  data-test-cloudinary-image
/>

<h2>imgix</h2>

<ResponsiveImage
  @src={{responsive-image-imgix-provider "pages/approach/agile_2000x1200.jpg"}}
  data-test-imgix-image
/>

<h2>Local</h2>

<ResponsiveImage @src={{this.dogImage}} data-test-local-image="responsive" />
<ResponsiveImage
  @src={{this.dogImage}}
  @width={{320}}
  data-test-local-image="fixed"
/>
<ResponsiveImage
  @src={{this.dogImageLqipColor}}
  @width={{320}}
  data-test-local-image="fixed,lqip-color"
/>
<ResponsiveImage
  @src={{this.dogImageLqipInline}}
  @width={{320}}
  data-test-local-image="fixed,lqip-inline"
/>
<ResponsiveImage
  @src={{this.dogImageLqipBlurhash}}
  @width={{320}}
  data-test-local-image="fixed,lqip-blurhash"
/>